<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Word</key>
	<array>
<string>when</string>
<string>as</string>
<string>at</string>
<string>April</string>
<string>August</string>
<string>mean</string>
<string>at</string>
<string>got (sb.)</string>
<string>get</string>
<string>look</string>
<string>can</string>
<string>there</string>
<string>that's</string>
<string>think</string>
<string>December</string>
<string>you're</string>
<string>one</string>
<string>get</string>
<string>if</string>
<string>February</string>
<string>going</string>
<string>go</string>
<string>going</string>
<string>belief</string>
<string>large</string>
<string>good</string>
<string>here</string>
<string>up</string>
<string>out</string>
<string>him</string>
<string>her</string>
<string>yeah</string>
<string>January</string>
<string>now</string>
<string>July</string>
<string>June</string>
<string>can</string>
<string>can't</string>
<string>come</string>
<string>time (z.B.: for the first time)</string>
<string>one</string>
<string>March</string>
<string>like</string>
<string>November</string>
<string>if</string>
<string>okay</string>
<string>October</string>
<string>back</string>
<string>see</string>
<string>September</string>
<string>she</string>
<string>they</string>
<string>did (sb.)</string>
<string>why</string>
<string>if</string>
<string>will</string>
<string>will be</string>
<string>really</string>
<string>want</string>
<string>would</string>
<string>too</string>
<string>need</string>
<string>then</string>
<string>an</string>
<string>some</string>
<string>Sorry!</string>
<string>he's</string>
<string>tell</string>
<string>something</string>
<string>been</string>
<string>had</string>
<string>Hey!</string>
<string>hey</string>
<string>I've</string>
<string>I'll</string>
<string>them</string>
<string>yes</string>
<string>little</string>
<string>could</string>
<string>sorry</string>
<string>love</string>
<string>make</string>
<string>market</string>
<string>more</string>
<string>take</string>
<string>didn't (sb.)</string>
<string>never</string>
<string>never</string>
<string>or</string>
<string>ok</string>
<string>say</string>
<string>his</string>
<string>his</string>
<string>program</string>
<string>sure</string>
<string>she's</string>
<string>us</string>
<string>our</string>
<string>from</string>
<string>over</string>
<string>were</string>
<string>way</string>
<string>because</string>
<string>who</string>
<string>we're</string>
<string>over</string>
<string>by</string>
<string>off</string>
<string>am (I'am)</string>
<string>please</string>
<string>thought (sb.)</string>
<string>thank you</string>
<string>things</string>
<string>there's</string>
<string>anything</string>
<string>find (to find)</string>
<string>give</string>
<string>god</string>
<string>has (sb/sth.)</string>
<string>help</string>
<string>down</string>
<string>into</string>
<string>any</string>
<string>let (to)</string>
<string>life</string>
<string>people</string>
<string>doing</string>
<string>man</string>
<string>people</string>
<string>nothing</string>
<string>still</string>
<string>only</string>
<string>talk (to)</string>
<string>thing</string>
<string>said</string>
<string>beautiful</string>
<string>much</string>
<string>very</string>
<string>even</string>
<string>should</string>
<string>technology</string>
<string>doing</string>
<string>maybe</string>
<string>by</string>
<string>wait (for)</string>
<string>what's (Umgangssprache)</string>
<string>off</string>
<string>again</string>
<string>where</string>
<string>two</string>
<string>everything</string>
<string>than</string>
<string>other</string>
<string>stop</string>
<string>last</string>
<string>work</string>
<string>mountain</string>
<string>better</string>
<string>before</string>
<string>home</string>
<string>those</string>
<string>these</string>
<string>call</string>
<string>feel (to)</string>
<string>away</string>
<string>first</string>
<string>told (sb.)</string>
<string>fine</string>
<string>away</string>
<string>feel (to)</string>
<string>wanted</string>
<string>believe</string>
<string>great</string>
<string>keep</string>
<string>Mr</string>
<string>around</string>
<string>after</string>
<string>Huh?</string>
<string>I'd</string>
<string>isn't (sb/sth.)</string>
<string>ever</string>
<string>guys</string>
<string>long</string>
<string>put</string>
<string>guys</string>
<string>doesn't</string>
<string>guy</string>
<string>night</string>
<string>lake</string>
<string>you've</string>
<string>they're</string>
<string>other</string>
<string>stop</string>
<string>day</string>
<string>does (sb.)</string>
<string>first</string>
<string>listen</string>
<string>else</string>
<string>trying</string>
<string>kind</string>
<string>baby</string>
<string>getting</string>
<string>stay</string>
<string>thanks</string>
<string>being</string>
<string>through</string>
<string>actually</string>
<string>remember</string>
<string>done</string>
<string>wrong</string>
<string>made</string>
<string>happened (sth.)</string>
<string>done</string>
<string>big</string>
<string>hear</string>
<string>their</string>
<string>course</string>
<string>might (sb.)</string>
<string>care</string>
<string>course</string>
<string>made (sb/sth.)</string>
<string>might (sb.)</string>
<string>lot</string>
<string>mother</string>
<string>mom</string>
<string>nice</string>
<string>new</string>
<string>place</string>
<string>dad</string>
<string>happened (sth.)</string>
<string>professional</string>
<string>guess (to)</string>
<string>bad</string>
<string>guess (to)</string>
<string>else</string>
<string>talking</string>
<string>father</string>
<string>dad</string>
<string>leave</string>
<string>understand</string>
<string>wasn't (sb/sth.)</string>
<string>entity</string>
<string>won't (sb.)</string>
<string>wouldn't (sb.)</string>
<string>being (sth. is.)</string>
<string>together</string>
<string>old</string>
<string>another</string>
<string>jack (to)</string>
<string>mind (to)</string>
<string>mind (ato)</string>
<string>touch (to)</string>
<string>own</string>
<string>best</string>
<string>same</string>
<string>which</string>
<string>real</string>
<string>family</string>
<string>ask (to)</string>
<string>woman</string>
<string>whole</string>
<string>money</string>
<string>enough</string>
<string>face</string>
<string>went</string>
<string>happy</string>
<string>Hello</string>
<string>house</string>
<string>tonight</string>
<string>hope</string>
<string>hell</string>
<string>idea</string>
<string>years</string>
<string>every</string>
<string>someone</string>
<string>came (sb/sth.)</string>
<string>knew (sb.)</string>
<string>coming</string>
<string>coming</string>
<string>must (sb.)</string>
<string>must</string>
<string>name</string>
<string>room</string>
<string>looking</string>
<string>same</string>
<string>yourself</string>
<string>son</string>
<string>try</string>
<string>knew (sb.)</string>
<string>room</string>
<string>left</string>
<string>ah</string>
<string>alone</string>
<string>next</string>
<string>start</string>
<string>thinking</string>
<string>matter</string>
<string>both</string>
<string>already</string>
<string>since</string>
<string>thinking</string>
<string>three</string>
<string>excuse</string>
<string>friend</string>
<string>exactly</string>
<string>happen</string>
<string>found</string>
<string>having</string>
<string>sir</string>
<string>honey</string>
<string>heard (sb.)</string>
<string>pretty</string>
<string>myself</string>
<string>boy</string>
<string>couldn't (sb.)</string>
<string>May</string>
<string>minute</string>
<string>gotta (sb.)</string>
<string>girl</string>
<string>happen</string>
<string>problem</string>
<string>show</string>
<string>saying</string>
<string>job</string>
<string>saw</string>
<string>dead</string>
<string>kill</string>
<string>hurt</string>
<string>probably</string>
<string>world</string>
<string>we've</string>
<string>while</string>
<string>supposed</string>
<string>cause</string>
<string>car</string>
<string>soon</string>
<string>used</string>
<string>ready</string>
<string>until</string>
<string>yet</string>
<string>you'd</string>
<string>once</string>
<string>hold</string>
<string>friends</string>
<string>used</string>
<string>gone</string>
<string>face</string>
<string>called</string>
<string>business</string>
<string>seen</string>
<string>deal (to)</string>
<string>hard</string>
<string>today</string>
<string>each</string>
<string>know (to)</string>
<string>head</string>
<string>live</string>
<string>most</string>
<string>took (sb.)</string>
<string>without</string>
<string>called (sb.)</string>
<string>school</string>
<string>second</string>
<string>worry (about)</string>
<string>part</string>
<string>forget</string>
<string>morning</string>
<string>true</string>
<string>truth</string>
<string>whatever</string>
<string>knows</string>
<string>few</string>
<string>wants (sb.)</string>
<string>wanna (to)</string>
<string>stuff</string>
<string>offer</string>
<string>case (Matter, issue)</string>
<string>phone</string>
<string>telling</string>
<string>use (to)</string>
<string>move</string>
<string>chance</string>
<string>turn</string>
<string>wife</string>
<string>include</string>
<string>end</string>
<string>either</string>
<string>Miss</string>
<string>reason</string>
<string>making</string>
<string>heart</string>
<string>point</string>
<string>anyone</string>
<string>anyway</string>
<string>somebody</string>
<string>kids</string>
<string>case</string>
<string>run</string>
<string>bring</string>
<string>tomorrow</string>
<string>anymore</string>
<string>person</string>
<string>check</string>
<string>looks (jd.)</string>
<string>meet</string>
<string>such</string>
<string>late</string>
<string>later</string>
<string>bye</string>
<string>change</string>
<string>damn</string>
<string>married</string>
<string>lost</string>
<string>trust (to)</string>
<string>many</string>
<string>wish</string>
	</array>
	<key>Translation</key>
	<array>
		<string>als (Zeit)</string>
<string>als (Vergleich)</string>
<string>an (Präposition/ Pronomen)</string>
<string>der April</string>
<string>der August</string>
<string>bedeuten</string>
<string>bei</string>
<string>bekam (jd.)</string>
<string>bekommen</string>
<string>der Blick</string>
<string>Büchse (Substantiv)</string>
<string>da</string>
<string>das ist (Kurzform)</string>
<string>das denken</string>
<string>der Dezember</string>
<string>du bist (Kurzversion)</string>
<string>eins</string>
<string>erhalten (g...)</string>
<string>falls</string>
<string>der Februar</string>
<string>Gehen (Gerundium)</string>
<string>gehen</string>
<string>gehend</string>
<string>glauben</string>
<string>groß (weit)</string>
<string>gut</string>
<string>hier</string>
<string>hinauf</string>
<string>hinaus</string>
<string>ihn</string>
<string>ihr (3.Pers.Sgl.)</string>
<string>ja (glücklich, Ausruf)</string>
<string>der Januar</string>
<string>jetzt</string>
<string>der Juli</string>
<string>der Juni</string>
<string>kann (Verb)</string>
<string>kann nicht</string>
<string>kommen</string>
<string>Mal</string>
<string>man</string>
<string>der März</string>
<string>mögen</string>
<string>der November</string>
<string>ob</string>
<string>ok</string>
<string>der Oktober</string>
<string>der Rücken</string>
<string>sehen</string>
<string>der September</string>
<string>sie</string>
<string>sie (3.P.Pl.)</string>
<string>die tat (jd. getan haben)</string>
<string>warum</string>
<string>wenn</string>
<string>werden</string>
<string>wird sein</string>
<string>wirklich (Adverb)</string>
<string>wollen (haben)</string>
<string>würde</string>
<string>auch</string>
<string>brauchen</string>
<string>damals</string>
<string>ein</string>
<string>einige</string>
<string>Entschuldigung!</string>
<string>er ist (Kurzversion)</string>
<string>erzählen</string>
<string>etwas (Aussagesatz)</string>
<string>gewesen</string>
<string>hatte</string>
<string>He!</string>
<string>Hey</string>
<string>ich habe (Kurzform)</string>
<string>Ich werde (Kurzform)</string>
<string>ihnen</string>
<string>ja</string>
<string>klein</string>
<string>könnte</string>
<string>leid</string>
<string>lieben</string>
<string>machen</string>
<string>der Markt</string>
<string>mehr</string>
<string>nehmen</string>
<string>nicht gemacht (Kurzform jd.)</string>
<string>nie</string>
<string>niemals</string>
<string>oder</string>
<string>ok</string>
<string>sagen</string>
<string>sein (Possesivpronom)</string>
<string>seiner</string>
<string>Sendung</string>
<string>sicher (sich sicher sein)</string>
<string>sie ist (Kurzversion)</string>
<string>uns</string>
<string>unser</string>
<string>von</string>
<string>vorbei</string>
<string>waren</string>
<string>der Weg</string>
<string>weil</string>
<string>wer</string>
<string>wir sind (Kurzversion)</string>
<string>über</string>
<string>an</string>
<string>aus (ausgeschaltet)</string>
<string>bin (ich bin)</string>
<string>bitte</string>
<string>dachte (jd.)</string>
<string>danke</string>
<string>die Dinge</string>
<string>es gibt</string>
<string>etwas (Fragesatz, Verneinung)</string>
<string>finden</string>
<string>geben</string>
<string>der Gott</string>
<string>hat (jd./etw. er,sie,es)</string>
<string>helfen</string>
<string>hinunter</string>
<string>in (hinein)</string>
<string>jede</string>
<string>lassen</string>
<string>das Leben (Substantiv)</string>
<string>die Leute</string>
<string>machen</string>
<string>der Mann</string>
<string>die Menschen</string>
<string>nichts</string>
<string>noch (immer)</string>
<string>nur</string>
<string>reden (mit)</string>
<string>Sache, Ding</string>
<string>sagte</string>
<string>schön</string>
<string>sehr (viel)</string>
<string>sehr</string>
<string>sogar</string>
<string>sollte</string>
<string>Technologie</string>
<string>tuend</string>
<string>vielleicht</string>
<string>von</string>
<string>warten (auf)</string>
<string>was ist (Kurzform)</string>
<string>der weg</string>
<string>wieder</string>
<string>wo</string>
<string>zwei</string>
<string>alles</string>
<string>als</string>
<string>andere</string>
<string>anhalten</string>
<string>anhalten</string>
<string>arbeiten</string>
<string>der Berg</string>
<string>besser</string>
<string>bevor</string>
<string>daheim</string>
<string>die (da, dort)</string>
<string>diese (hier)</string>
<string>einberufen</string>
<string>empfinden</string>
<string>entfernt</string>
<string>erste</string>
<string>erzählte (jd.)</string>
<string>fein</string>
<string>fort</string>
<string>fühlen</string>
<string>gesucht</string>
<string>glauben</string>
<string>großartig</string>
<string>halten</string>
<string>der Herr (Abkürzung)</string>
<string>herum</string>
<string>hinter</string>
<string>Hä? (umgangssprachlich)</string>
<string>ich hatte (Kurzform)</string>
<string>ist nicht (jd./etw.)</string>
<string>je</string>
<string>Jungs</string>
<string>lang</string>
<string>legen (etwas wohin)</string>
<string>die Leute</string>
<string>macht nicht</string>
<string>der Mann</string>
<string>die Nacht</string>
<string>der See</string>
<string>sie haben</string>
<string>sie sind (Kurzversion)</string>
<string>sonstiges</string>
<string>stoppen</string>
<string>der Tag</string>
<string>tut (jd.)</string>
<string>zuerst</string>
<string>zuhören (etwas)</string>
<string>anders</string>
<string>anstrengend</string>
<string>die Art</string>
<string>Baby</string>
<string>bekommend</string>
<string>bleiben</string>
<string>Dank</string>
<string>Dasein</string>
<string>durch</string>
<string>eigentlich</string>
<string>erinnern</string>
<string>erledigt</string>
<string>falsch</string>
<string>gemacht</string>
<string>geschah (etw.)</string>
<string>getan</string>
<string>groß</string>
<string>hören</string>
<string>ihr (Plural)</string>
<string>der Kurs</string>
<string>könnte (jd.)</string>
<string>kümmern</string>
<string>der Lehrgang</string>
<string>machte (jd./etw.)</string>
<string>mag (jd.)</string>
<string>Menge</string>
<string>die Mutter</string>
<string>die Mutter</string>
<string>nett</string>
<string>neu</string>
<string>der Ort</string>
<string>Papa</string>
<string>passierte (etw.)</string>
<string>professionell</string>
<string>raten</string>
<string>schlecht</string>
<string>schätzen</string>
<string>sonst</string>
<string>Unterhaltung</string>
<string>der Vater</string>
<string>der Vater</string>
<string>verlassen</string>
<string>verstehen</string>
<string>war nicht (jd./etw.)</string>
<string>Wesen</string>
<string>will nicht (jd.)</string>
<string>würde nicht (jd.)</string>
<string>zurzeit (etw. ist)</string>
<string>zusammen</string>
<string>alt</string>
<string>andere</string>
<string>anheben</string>
<string>aufpassen</string>
<string>bedenken</string>
<string>berühren</string>
<string>besitzen</string>
<string>beste</string>
<string>dasselbe</string>
<string>der (Relativpronom bei Gegenständen)</string>
<string>echt, wirklich</string>
<string>die Familie</string>
<string>die fragen</string>
<string>die Frau</string>
<string>ganze</string>
<string>das Geld</string>
<string>genug</string>
<string>das Gesicht</string>
<string>gingen</string>
<string>glücklich</string>
<string>Hallo (Begrüßung)</string>
<string>das Haus</string>
<string>heute Abend</string>
<string>die Hoffnung</string>
<string>Hölle</string>
<string>die Idee (Gedanke, Vorstellung)</string>
<string>die Jahre</string>
<string>jede</string>
<string>jemand (Aussage)</string>
<string>kam (jd./etw.)</string>
<string>kannte (jd.)</string>
<string>kommend</string>
<string>künftig</string>
<string>muss (jd.)</string>
<string>müssen (wir, sie)</string>
<string>der Name</string>
<string>der Raum</string>
<string>schauend</string>
<string>selbe</string>
<string>selbst (selber)</string>
<string>der Sohn</string>
<string>versuchen (aus)</string>
<string>wusste (jd.)</string>
<string>das Zimmer</string>
<string>übrig</string>
<string>ah</string>
<string>allein</string>
<string>als Nächstes</string>
<string>anfangen</string>
<string>die Ansicht</string>
<string>ausmachen</string>
<string>beide</string>
<string>bereits</string>
<string>da</string>
<string>das Denken</string>
<string>drei</string>
<string>die Entschuldigung</string>
<string>der Freund</string>
<string>genau</string>
<string>geschehen</string>
<string>gründen</string>
<string>habend</string>
<string>der Herr</string>
<string>Honig</string>
<string>hörte (jd.)</string>
<string>hübsch</string>
<string>ich selbst</string>
<string>der Junge</string>
<string>könnte nicht (jd.)</string>
<string>der Mai</string>
<string>die Minute</string>
<string>muss (jd.)</string>
<string>das Mädchen</string>
<string>passieren</string>
<string>das Problem</string>
<string>Sendung</string>
<string>Spruch</string>
<string>die Stelle (Beschäftigung)</string>
<string>Säge</string>
<string>tot</string>
<string>töten</string>
<string>verletzen</string>
<string>wahrscheinlich</string>
<string>die Welt</string>
<string>wir haben</string>
<string>während</string>
<string>angeblich</string>
<string>Angelegenheit</string>
<string>das Auto</string>
<string>bald</string>
<string>benutzt</string>
<string>bereit</string>
<string>bis (zeitlich)</string>
<string>doch</string>
<string>du hattest</string>
<string>einmal</string>
<string>festhalten</string>
<string>die Freunde</string>
<string>gebraucht</string>
<string>gegangen</string>
<string>gegenüberstehen</string>
<string>genannt</string>
<string>das Geschäft</string>
<string>gesehen</string>
<string>handeln</string>
<string>hart</string>
<string>heute</string>
<string>jede</string>
<string>kennen</string>
<string>der Kopf</string>
<string>das leben</string>
<string>meisten</string>
<string>nahm (jd.)</string>
<string>ohne</string>
<string>rief (jd.)</string>
<string>die Schule</string>
<string>die Sekunde</string>
<string>sich Sorgen machen (wegen / um)</string>
<string>der Teil</string>
<string>vergessen</string>
<string>der Vormittag</string>
<string>wahr</string>
<string>die Wahrheit</string>
<string>was auch immer</string>
<string>weiß</string>
<string>wenig</string>
<string>will (jd.)</string>
<string>wollen</string>
<string>Zeug</string>
<string>anbieten</string>
<string>Angelegenheit</string>
<string>anrufen (Telefon)</string>
<string>aufschlussreich</string>
<string>benutzen</string>
<string>bewegen (sich)</string>
<string>die Chance</string>
<string>drehen</string>
<string>die Ehefrau</string>
<string>einschließen (mit)</string>
<string>enden</string>
<string>entweder</string>
<string>Fräulein (als Anrede)</string>
<string>der Grund</string>
<string>die Herstellung</string>
<string>das Herz</string>
<string>hinweisen</string>
<string>jede</string>
<string>jedenfalls</string>
<string>jemand</string>
<string>die Kinder</string>
<string>der Koffer</string>
<string>laufen</string>
<string>mitbringen</string>
<string>der morgen</string>
<string>noch etwas</string>
<string>die Person</string>
<string>prüfen</string>
<string>schaut (sb.)</string>
<string>sich treffen</string>
<string>solch (so ein)</string>
<string>spät</string>
<string>später</string>
<string>Tschüss</string>
<string>umsteigen</string>
<string>verdammt</string>
<string>verheiratet</string>
<string>verloren</string>
<string>das vertrauen</string>
<string>viele</string>
<string>der Wunsch</string>
	</array>
</dict>
</plist>
