<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.developer.ubiquity-container-identifiers</key>
	<array>
		<string>$(TeamIdentifierPrefix)65V86286Z3.de.h-da.fbi.iosdev.finalproject</string>
	</array>
</dict>
</plist>
